---
import dayjs from "dayjs";
import dayjsTzPlugin from "dayjs/plugin/timezone";
import dayjsUtcPlugin from "dayjs/plugin/utc";
import dayjsAdvancedFormatPlugin from "dayjs/plugin/advancedFormat";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";

interface Props {
  setlist: CollectionEntry<"setlists">;
}

const { setlist } = Astro.props;

dayjs.extend(dayjsUtcPlugin);
dayjs.extend(dayjsTzPlugin);
dayjs.extend(dayjsAdvancedFormatPlugin);

const songs = await getEntries(setlist.data.songs);
---

<setlist-card>
  <a
    href={`/setlists/${setlist.id}`}
    class="block rounded-lg border border-gray-200 bg-white p-4 shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <p
      data-utc-datetime={setlist.data.date}
      class="text-xs font-normal text-gray-700 dark:text-gray-400"
    >
      {
        dayjs(setlist.data.date)
          .tz("America/Chicago")
          .format("MM/DD/YYYY [@] h:mmA z")
      }
    </p>
    <h5
      class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {setlist.data.name}
    </h5>
    <ul class="text-sm font-normal text-gray-700 dark:text-gray-400">
      {
        songs.map((song) => (
          <li>
            {song.data.title} ({song.data.artist})
          </li>
        ))
      }
    </ul>
  </a>
</setlist-card>

<script>
  import dayjs from "dayjs";
  import dayjsUtcPlugin from "dayjs/plugin/utc";
  import dayjsTzPlugin from "dayjs/plugin/timezone";
  import dayjsAdvancedFormatPlugin from "dayjs/plugin/advancedFormat";

  dayjs.extend(dayjsUtcPlugin);
  dayjs.extend(dayjsTzPlugin);
  dayjs.extend(dayjsAdvancedFormatPlugin);

  const localTz = dayjs.tz.guess();

  class SetlistCard extends HTMLElement {
    constructor() {
      super();

      const datetimeEl: HTMLElement | null = this.querySelector(
        "[data-utc-datetime]",
      );

      console.log(datetimeEl?.dataset.utcDatetime)

      if (datetimeEl && datetimeEl.dataset.utcDatetime) {
        datetimeEl.textContent = dayjs(datetimeEl.dataset.utcDatetime)
          .tz(localTz)
          .format("MM/DD/YYYY [@] h:mmA z");
      }
    }
  }

  customElements.define("setlist-card", SetlistCard);
</script>
